@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --custom-blue500 : rgb(0,78,180);
    --black-500 : #121212;
    --black-400 : #414141;
    --black-300 : #7d7d7d;
    --grey-500 : #C4C4C4;
    --letter-spacing-minus-one: 0.01em;
    --letter-spacing-minus-two: 0.02em;
    --letter-spacing-minus-three: 0.03em;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* Container to hold both the image and the overlay */
.background-container {
  position: relative;
  width: 100%;
  height: 300px;  /* Adjust as needed */
}

/* Image with low opacity */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Ensure the image covers the container */
  opacity: 0.1;  /* Set image opacity */
}

/* Color overlay */
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--custom-blue500);
}
.text-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;  /* Change text color as needed */
  text-align: center;  /* Center align text */
  z-index: 1;  /* Ensure text is on top of the background */
}

[data-state="checked"] {
  border-color: var(--custom-blue500);
}

.custom-input {
  border: 1px solid hsl(0, 0%, 89.8%);
  padding: 4px 6px;
  height: 36px;
  border-radius: 6px;
  width: 100%;
  font-size: 15px;
  color: var(--black-500)

}

@layer base {
  * {
    @apply border-border;
  }

  .sub-label {
    @apply text-customBlack-500 text-[14.8px] paragraph-medium-regular
  }
  .input-text {
    @apply text-customBlack-500 paragraph-medium-regular text-[15px]
  }
  .error-label {
    @apply text-[#ff0000] text-[14.8px] paragraph-medium-regular 
  }
  .main-label {
    @apply paragraph-medium-medium text-customBlack-500
  }
  /* H1 */
  .h1-custom-bold {
    @apply text-h1 font-inter leading-48 font-bold
  }
  .h1-custom-medium {
    @apply text-h1 font-inter leading-48 font-medium
  }
  .h1-custom-normal {
    @apply text-h1 font-inter leading-48 font-normal
  }

  /* H2 */
  .h2-custom-bold {
    @apply text-h2 font-inter leading-44 font-bold
  }
  .h2-custom-medium {
    @apply text-h2 font-inter leading-44 font-medium
  }
  .h2-custom-normal {
    @apply text-h2 font-inter leading-44 font-normal
  }

  /* H3 */
  .h3-custom-bold {
    @apply text-h3 font-inter leading-40 font-bold
  }
  .h3-custom-medium {
    @apply text-h3 font-inter leading-40 font-medium
  }
  .h3-custom-normal {
    @apply text-h3 font-inter leading-40 font-normal
  }

    /* H4 */
  .h4-custom-bold {
    @apply text-h4 font-inter leading-36 font-bold
  }
  .h4-custom-medium {
    @apply text-h4 font-inter leading-36 font-medium
  }
  .h4-custom-normal {
    @apply text-h4 font-inter leading-36 font-normal
  }

      /* H5 */
  .h5-custom-bold {
    @apply text-h5 font-inter leading-32 font-bold
  }
  .h5-custom-medium {
    @apply text-h5 font-inter leading-32 font-medium
  }
  .h5-custom-normal {
    @apply text-h5 font-inter leading-32 font-normal
  }
    /* H6 */
  .h6-custom-bold {
    @apply text-h6 font-inter leading-28 font-bold
  }
  .h6-custom-medium {
    @apply text-h6 font-inter leading-28 font-medium
  }
  .h6-custom-normal {
    @apply text-h6 font-inter leading-28 font-normal
  }

  /* Paragraph large */
  .paragraph-large-bold {
    @apply text-paragraph-large -tracking--1% font-inter leading-28 font-bold
  }
  .paragraph-large-medium {
    @apply text-paragraph-large -tracking--1% font-inter leading-28 font-medium
  }
  .paragraph-large-semibold {
    @apply text-paragraph-large -tracking--1% font-inter leading-28 font-semibold
  }
  .paragraph-medium-regular {
    @apply text-paragraph-medium -tracking--1% font-inter leading-28 font-normal
  }

  /* Paragraph medium */
  .paragraph-medium-bold {
    @apply text-paragraph-medium -tracking--1% font-inter leading-24 font-bold
  }
  .paragraph-medium-medium {
    @apply text-paragraph-medium -tracking--1% font-inter leading-24 font-medium
  }
    .paragraph-medium2-medium {
    @apply text-[15px] -tracking--1% font-inter leading-24 font-medium
  }
  .paragraph-medium-semibold {
    @apply text-paragraph-medium -tracking--1% font-inter leading-24 font-semibold
  }
  .paragraph-medium-regular {
    @apply text-paragraph-medium -tracking--1% font-inter leading-24 font-normal
  }

  /* Paragraph small */
  .paragraph-small-bold {
    @apply text-paragraph-small -tracking--1% font-inter leading-20 font-bold
  }
  .paragraph-small-medium {
    @apply text-paragraph-small -tracking--1% font-inter leading-20 font-medium
  }
  .paragraph-small-semibold {
    @apply text-paragraph-small -tracking--1% font-inter leading-20 font-semibold
  }
  .paragraph-small-regular {
    @apply text-paragraph-small -tracking--1% font-inter leading-20 font-normal
  }

  /* Paragraph xsmall */
  .paragraph-Xsmall-bold {
    @apply text-paragraph-Xsmall -tracking--1% font-inter leading-20 font-bold
  }
  .paragraph-small-medium {
    @apply text-paragraph-Xsmall -tracking--1% font-inter leading-20 font-medium
  }
  .paragraph-small-semibold {
    @apply text-paragraph-Xsmall -tracking--1% font-inter leading-20 font-semibold
  }
  .paragraph-small-regular {
    @apply text-paragraph-Xsmall -tracking--1% font-inter leading-20 font-normal
  }


  /* body {
    @apply bg-background text-foreground;
  } */
}


.loader {
  position: relative;
  width: 26px;
  height:26px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}
